*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*
colors
bg #000
grey #a6a6a6a
white fdfdfd
*/
.calc {
    margin: 50px auto;
    width:300px;
    height:500px;
    /*border:1px solid #000;*/
    border-radius: 20px;
    background: #000;
    color:white;
    font-family: Arial;
    padding:18px;
    box-shadow:4px 4px 4px #4f4f4f;
}
.calc-screen{
    height: 105px;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 20px;
}
.calc-screen p{
    text-align:right;
    font-size: 4rem;
    margin-top: 50px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    gap:7px;
    margin-bottom: 20px;
    justify-content: flex-start;
}
.btn{
    width:60px;
    height:60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height:60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}
.btn:hover{
    filter:brightness(120%);
}
.btn:active{
    filter:brightness(90%);
}
.btn.bg-grey {
    background: #a6a6a6;
}
.btn.bg-orange {
    background: #ff9501;
}
.btn.zero{
    width: 120px;
    border-radius: 35px;
}